* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle at top, #1b0f3d, #07061f 70%);
    color: #e0e7ff;
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.container {
    max-width: 900px;
    width: 100%;
    background: linear-gradient(145deg, #1a0f2f, #2b0d4d);
    padding: 45px;
    border-radius: 14px;

    border: 1px solid rgba(155, 81, 224, 0.5);

    box-shadow:
        0 0 20px rgba(155, 81, 224, 0.6),
        0 0 60px rgba(107, 33, 240, 0.3);

    backdrop-filter: blur(6px);
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 38px;
    font-weight: bold;
    background: linear-gradient(90deg,#9d51e0,#6b21f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

.update {
    margin-top: 8px;
    font-size: 14px;
    color: #c4b5fd;
}
section {
    margin-bottom: 28px;
    padding: 18px;
    border-radius: 10px;

    background: rgba(27,11,45,0.7);
    border: 1px solid rgba(155,81,224,0.3);

    transition: all 0.25s ease;
}

section:hover {
    border: 1px solid #9d51e0;
    box-shadow: 0 0 15px rgba(155,81,224,0.6);
    transform: translateY(-2px);
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #a78bfa;
}

p {
    line-height: 1.6;
    color: #d8b4fe;
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}


footer {
    text-align: center;
    margin-top: 35px;
    padding-top: 20px;
    border-top: 1px solid rgba(155,81,224,0.3);
    font-size: 14px;
    color: #c4b5fd;
}


@media (max-width: 768px) {
    .container {
        padding: 25px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 18px;
    }
}