@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.luckiest-guy-regular {
    font-family: "Luckiest Guy" !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

* {
    text-transform: uppercase;
    font-family: "Luckiest Guy";
    letter-spacing: 3px;
    paint-order: stroke fill;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
    font-size: 1.3rem;
}